.DS_Store
.vscode/
.vs/
bin/
obj/
packages/
Import/Program.cs
Sketch2Code.Web/Web.config
Sketch2Code.Web/Content/email-attachments/*
Sketch2Code.Web/Content/generated/*
Voice2Code/package-lock.json
node_modules
Sketch2Code.Api/local.settings.json
